@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.home-container {
  width: 100%;
  max-width: 110px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  margin: auto;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.hero-heading > span > h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.second-span > h2 > span {
  transition: all 0.3s ease;
  cursor: pointer;
}

.second-span > h2 > span:hover {
  color: #343a40;
}

.products {
  width: 40%;
  margin: 20px;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 5px;
}

.cart-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-container {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 20vh;
}

.total-container > span {
  margin-bottom: 0.3rem;
}

.cart {
  display: flex;
  width: 100%;
}

.cart-container {
  flex: 1;
}
.video-container {
  max-width: 1000px;
}

.checkout-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.tab-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ef65, #98e5);
}

.inner-tab-container {
  width: 400px;
}

.card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card-details > input {
  width: 300px;
  margin-bottom: 1rem;
  padding: 5px;
}

.footer {
  width: 100%;
  padding: 1rem 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  margin-bottom: 2rem;
}

.footer-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 16px;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.search > input {
  width: 500px;
  padding: 0.5rem;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .footer-links-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 580px) {
  .home,
  .left,
  .right {
    grid-template-columns: 1fr;
  }
}
